doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='../BootStrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../BootStrap/css/bootstrap-theme.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
   
    script(src='../BootStrap/js/bootstrap.min.js')
    // Icon for Tabs
    link(rel='icon', href='../Mantipictures/Logo2.png')
    title Manti
    // This is the reference to the style (MainPageDesign) page Jimmy has made
    link(rel='stylesheet', type='text/css', href='../MantiCSS/MainPageDesign.css')
    ul
      li
        a(href='http://localhost:4000/Mainpage')
          img.animes(src='../Mantipictures/Logo2.png', class=logo2)
      logo MANTI
      
        form#searchbox_demo(name='cse',class='Bar' action='https://www.google.com/cse')
          input(type='hidden', name='cref', value='')
          input(type='hidden', name='ie', value='utf-8')
          input(type='hidden', name='hl', value='')
          input(name='q', type='text', size='=20')
          input(type='submit', name='sa', value='Search')
  body
    #SubSections
      #row1
        .link.a1
          a(id='square 1', href='/anime')
            img#pic1.Anime(src='../Mantipictures/anime.jpg')
            .overlay.one
              span.overlayText.one(id='span one')  anime
        .link.a1
          a(id='square 2', href='/coding')
            img#pic2.Coding(src='../Mantipictures/Coding.jpg')
            .overlay.one
              span.overlayText.one(id='span two') coding
        .link.a3
          a(id='square 3', href='/food')
            img#pic3.Food(src='../Mantipictures/Food.jpg')
            .overlay.one
              span.overlayText.one(id='span three') Food
      #row2
        .link.a4
          a(id='square 4', href='/gaming')
            img#pic4.Gaming(src='../Mantipictures/gaming.jpg')
            .overlay.one
              span.overlayText.one(id='span four') Gaming
        .link.a5
          a(id='square 5', href='/movies')
            img#pic5.Movie(src='../Mantipictures/Movie.jpg')
            .overlay.one
              span.overlayText.one(id='span five') Movies
        .link.a6
          a(id='square 6', href='/news')
            img#pic6.News(src='../Mantipictures/News.jpg')
            .overlay.one
              span.overlayText.one(id='span six') News
      #row3
        .link.a7
          a(id='square 7', href='/news')
            img#pic7.Philosophy(src='../Mantipictures/Philosophical sculpture.jpg')
            .overlay.one
              span.overlayText.one(id='span seven') Philosophy
        .link.a8
          a(id='square 8', href='/ScienceAndTechnology')
            img#pic8.Sciences(src='../Mantipictures/Science and Technology.jpg')
            .overlay.one
              span.overlayText.one(id='span eight') Science and Technology
        .link.a9
          a(id='square 9', href='/CodingHelp')
            img#pic9.CodingHelp(src='../Mantipictures/SOS.jpg')
            .overlay.one
              span.overlayText.one(id='span nine') CodingHelp

script(type='text/javascript', src='https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang=')

