doctype html
html
  head
    // This is the reference to the style (MainPageDesign) page Jimmy has made
    link(rel='stylesheet', type='text/css', href='../MantiCSS/subPageDesign.css')
    ul
      li
        a(href='MainPage.html')
          img.animes(src='../Mantipictures/Logo2.png', width='50', height='40')
      logo= subPageName
      // COMMENT
      form
        br
        input(type='text', name='Search', placeholder='Search', height:20px='')
        br
  body
    .button1
      a(href='postPage.html')
        button(type='button')  Make Post 
    .postArea