/*Design for the top tool bar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: chartreuse;
    border-radius: 10px;
}
li{
    float:left;
}
li a{
    display: : block;
    background-color: none;
    text-align: center;
    text-decoration:none;
}
form{
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: right;
}
/*This will show our future logo name design*/
logo{
    text-decoration-color: chocolate;
    font-size: 75px;
}
/*Figuring out how to align the search bar to the right of the navigation bar*/
Search{
    text-align: right;
}
/*Background of the website*/
body{
    background-color: dodgerblue;
}
/*Design each picture with grid design and borders*/
img{
    display: grid;
    width=40%;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: transparent;
    border-radius: 20px;
    opacity: .7;
    -webkit-transition:all .3s ease-in;
    transition: all .3s ease-in;
}
/*Creates a hover effect for each picture*/
.animes{   
    display: block;
    border: none;
    border-style: none;
    border-radius: 20px;
    opacity: 1;
}
.Anime{
    width: 30%;
}
.Anime:hover{
    border-color: orangered;
    opacity: 1;
}

.Coding{
    width: 30%;
}
.Coding:hover{
    border-color: orangered;
    opacity: 1;
}
.Food{ 
    width: 30%;
}
.Food:hover{
    border-color: orangered;
    opacity: 1;
}
.Gaming{
    width: 30%;
}
.Gaming:hover{
    border-color: orangered;
    opacity: 1;
}
.Movie{
    width: 30%;
}
.Movie:hover{
    border-color: orangered;
    opacity: 1;
}
.News{ 
    width: 30%;
}
.News:hover{
    border-color: orangered;
    opacity: 1;
}
.Philosophy{
    width: 30%;
}
.Philosophy:hover{
    border-color: orangered;
    opacity: 1;
}
.Sciences{
    width: 30%;
}
.Sciences:hover{
    border-color: orangered;
    opacity: 1;
}
.CodingHelp{ 
    width: 30%;
}
.CodingHelp:hover{
    border-color: orangered;
    opacity: 1;
}