body{
    list-style-type: none;
    overflow: hidden;
    background-color: seashell;
}
table,th,td
{
    margin-top:  10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border:3px solid black;
}
.content-table td
{
    text-align: center;
}
input[name="Title"] { 
    width: 100%;
}