body
{
    background-color: azure;
}
#CommentBox{
        margin-top: 5px;
   background-color:floralwhite;
    border-style: solid;
}
#picture{
    display: inline-block;
}
#Titles{
        margin-top: 5px;
   background-color: #00a195;
    border-style: solid;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #00a195;
    border-radius: 10px;
}
li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration:none;
    float:left;
}
form{
    margin: 0;
    display: inline-block;
    float: right;
    border-radius: 20px;
    font-size: 20;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
}

logo{
    color: white;
    letter-spacing: 5px;
    width: 100%;
    font-size: 70px;
    font-family: "Open Sans";
    font-weight: bold;
}
#sa{
    padding-right: 10px;
}