ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #00a195;
    border-radius: 10px;
}
li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration:none;    
    float:left;
}
form{
    margin: 0;
    display: inline-block; 
    padding 100px;
    float:right;
    border-radius: 20px;
    font-size: 20;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 20px;
}


/*This will show our future logo name design*/
logo{
   color: white;
    letter-spacing: 5px;
    width: 100%;
    font-size: 70px;
    font-family: "Open Sans";
    font-weight: bold;
}
}
.img {
    padding-top: 10px;
    display: block;
    border: none;
    border-style: none;
    height: 55px;
    width: 90px;
}


.button1 button{
   font-size: 20px;
}

.button1{
     margin-top: 20px;
}
.post{
    margin-top: 5px;
   background-color: #00a195;
    border-style: solid;
}